<!-- Lo primero de todo hay que importar la plantilla padre e indicar los bloques cambiantes -->
{% extends "base.html" %}

{% block title %} Curso C {%  endblock %}

{% block content %}

<p>Estamos a día : {{dameFecha}}</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1-XhIhNWqgI" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>



{% endblock %}